<ion-view view-title="Om kurset">
  <ion-content>
  	<div class="content">
  		<p>Kurs i Bekymringsmestring er laget for å lære deg å håndtere bekymringer på hensiktsmessige måter.  Ved å lære deg å håndtere bekymringer på hensiktsmessige måter kan du oppnå større grad av avslapning, økt livskvalitet og en større opplevelse av mestring i din hverdag.</p>
		<p>Alle bekymrer seg fra tid til annen. Å bekymre seg er en naturlig del av livet. Enkelte kan imidlertid oppleve at bekymringene i perioder tar overhånd. At man blir «fanget» av alle sine bekymringer, og ikke klarer å legge dem bort eller gjøre noe med dem. Dette kan gå ut over både søvnen, livsgleden, ditt forhold til andre og din evne til å gjennomføre daglige gjøremål. I motsetning til effektiv problemløsning kan det å føle seg fastlåst i bekymringer gjøre oss handlingslammet. Vi kan føle at vi bekymrer oss i det vide og det brede, uten å komme noen vei.</p>
		<p>På kurs i bekymringsmestring lærer du blant annet 4 nyttige strategier for å håndtere bekymringer:</p> 
		<ol>
			<li>Bekymringsutsettelse </li>
			<li>Effektiv problemløsning </li>
			<li>Å utfordre dine bekymringer </li>
			<li>Å gi slipp på dine bekymringer</li>
		</ol>
		<p>Kurs i Bekymrinsgmestring er utviklet av psykologene Serina Vorland og Eirik Sollie. Kurset bygger på Kognitiv Terapi, Meta Kognitiv Terapi og Mindfullnessbaserte Terapier. Kurset går over 9 uker og består av 2,5 timer undervisning med psykolog per uke, samt ukentlige hjemmeoppgaver. Denne appen er ikke ment å være en erstatning for undervisningen og hjemmeoppgavene, men et hjelpemiddel for deg som deltar på kurset.</p>
		<p>Spørsmål eller kommentarer kan rettes til <a href="mailto:serina.pedersen.vorland@haugesund.kommune.no">serina.pedersen.vorland@haugesund.kommune.no</a></p>
  	</div>
  </ion-content>
</ion-view>
