<ion-view view-title="Strategier">
  <ion-content>
  	<div class="content">
  		<a class="button button-block button-text button-positive" href="#/tab/strategier/utsettelse">Bekymringsutsettelse</a>
  		<a class="button button-block button-text button-calm" href="#/tab/strategier/problemloesning">Effektiv problemløsning</a>
  		<a class="button button-block button-text button-balanced" href="#/tab/strategier/utfordre">Utfordre din bekymring</a>
  		<a class="button button-block button-text button-royal" href="#/tab/strategier/gi-slipp">Gi slipp på bekymringen</a>
 	</div>
  </ion-content>
</ion-view>
