<ion-view view-title="Om appen">
  <ion-content>
  	<div class="content">
	  	<p>Denne appen er et hjelpemiddel for deltakerne på Kurs i Bekymringsmestring. Ta frem appen når du opplever en bekymring. Gjennom å svare på spørsmålene knyttet til din bekymring vil du av strategivelgeren få råd om hvilken strategi som kan passe for den type bekymring du opplever akkurat nå.</p>
	  	<p>Gjennom å svare på spørsmålene i strategivelgeren vil du få tips om å bruke en av de følgende fire strategier:</p>
	  	<ol>
	  		<li>Bekymringsutsettelse </li>
	  		<li>Effektiv problemløsning </li>
	  		<li>Å utfordre dine bekymringer </li>
	  		<li>Å gi slipp på dine bekymringer</li>
	  	</ol>
	  	<p>Dette er de fire hensiktsmessige måtene å håndtere bekymringer på som du har lært av å delta på Kurs i Bekymringsmestring. Du vil oppleve at du blir bedre og bedre til å bruke strategiene jo mer du trener på dem. «Øvelse gjør mester» sies det, og det gjelder også her. Etter gjentatt trening på disse strategiene vil de bli en naturlig del av din måte å møte bekymringer på.</p>
		<p>Spørsmål eller kommentarer kan rettes til <a href="mailto:serina.pedersen.vorland@haugesund.kommune.no">serina.pedersen.vorland@haugesund.kommune.no</a></p>
  	<div class="content">
  </ion-content>
</ion-view>
