<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<ion-tab title="Strategivelgeren" icon-off="ion-ios-shuffle" icon-on="ion-ios-shuffle-strong" href="#/tab/strategivelger">
  		<ion-nav-view name="tab-strategivelger"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Strategier" icon-off="ion-ios-copy-outline" icon-on="ion-ios-copy" href="#/tab/strategier">
  		<ion-nav-view name="tab-strategier"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Appen" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/appen">
  		<ion-nav-view name="tab-appen"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Kurset" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/kurset">
  		<ion-nav-view name="tab-kurset"></ion-nav-view>
	</ion-tab>

</ion-tabs>
