<ion-view view-title="Gi slipp">
  <ion-content>
  	<div class="content">
  		<h1>Å gi slipp på bekymringen</h1>
  		<p>Når du velger å gi slipp på din bekymring er det som å bruke bekymringsutsettelse, men i stedet for å utsette den til et bestemt tidspunkt senere på dagen utsetter du den på ubestemt tid. Hver gang bekymringen dukker opp legger du merke til den med vennlig oppmerksomhet, men vender så oppmerksomheten vennlig og bestemt tilbake til nået, til øyeblikket. For hver gang bekymringen dukker opp så vender du bare igjen oppmerksomheten din tilbake til nået. Du har tatt et valg om at du ikke vil gå inn i bekymringen. Du vil ikke jage den, ikke la deg fange av den. I stedet vil du la den gå. «Jeg ser deg bekymring, der var du igjen. Du skal få lov å komme å gå som du vil, men jeg går ikke inn i deg. I stedet vender jeg oppmerksomheten tilbake til det jeg holdt på med». Gjennom å meditere regelmessig vil du trene opp din evne til å gi slipp på bekymringer.</p>
  		<h2>Diagram</h2>
  		<a href="#" ng-click="browser('files/gi-slipp.png')">
  			<img src="files/gi-slipp.png" />
  		</a>
 	</div>
  </ion-content>
</ion-view>
