<ion-view view-title="Problemløsning">
  <ion-content>
  	<div class="content">
  		<h1>Effektiv problemløsning</h1>
		<h2>Forberedelser til problemløsning</h2>
		<ol>
			<li><span class="title">Sett av tid.</span> Problem-løsning krever energi og konsentrasjon, og det er ikke noe du kan gjøre mens du er «på farten». Du må gi oppgaven den tiden og oppmerksomheten den fortjener for at du skal få best mulig utbytte.</li>
			<li><span class="title">Ett problem om gangen.</span> Sørg for at du håndterer ett problem om gangen. Ikke forsøk å finne løsninger på flere ting på en gang.</li>
			<li><span class="title">Bruk penn og papir.</span> Problemløsningsprosessen krever at du skriver ned dine tanker mens du arbeider. Det er en for krevende prosess til at du kan klare å få gode resultater om du gjør det i hodet.</li>
		</ol>
		
		<h2>Hvordan skille mellom bekymringer og reelle problemer du kan løse?</h2>
		<p>Når du avgjør hvilke av dine bekymringer som omhandler problemer som trengs og som kan løses så kan disse spørsmålene være til hjelp:<p>
		<ul>
			<li>Er det et ekte og sannsynlig problem jeg bekymrer meg for?</li>
			<li>Er problemet noe som skjer nå?</li>
			<li>Er problemet noe jeg har kontroll over / kan gjøre noe med?</li>
		</ul>

		<h2>De fem stegene i effektiv problemløsning:</h2>
		<ol>
			<li><span class="title">Identifiser / definer problemet. </span> Skriv ned problemet så klart og tydelig som mulig. Vær objektiv og spesifikk. Beskriv problemet ut fra hva du kan observere heller enn subjektive følelser. </li>
			<li><span class="title">Ha en idémyldring over mulige løsninger. </span> Skriv opp alle mulige slags løsninger du kan finne på. Vær kreativ og ikke tenk på om løsningene er gode, realistiske, for vanskelige o.l. Hvis du tillater deg å skrive ned alle ideer som dukker opp og lar kreativiteten få fritt spillerom så er det lettere å komme på flere alternativer, og ett eller flere av dem vil være akkurat hva du trenger for å løse ditt problem.</li>
			<li><span class="title">Evaluer de ulike alternativene, og velg ut de løsningene du synes er best.</span>  Les gjennom listen din over løsningsforslag. Du får nå lov å være kritisk. Du kan stryke ut de løsningene du tenker er urealistiske eller som du av andre grunner ikke synes er særlig bra. Velg ut de løsningsforslagene du synes er best, og skriv dem ned i prioritert rekkefølge.</li>
			<li><span class="title">Lag en plan for hvordan du skal implementer de valgte løsningene.</span> Gjennomfør planen. Du må gjerne lage plan A, plan B, og plan C, i tilfelle den første løsningen ikke fungerer. For noen typer problemer er det nyttig å iverksette flere tiltak på en gang. Planen din kan derfor bestå av alt fra én til fire – fem løsninger. Spesifiser i planen hva som skal gjøres, hvem som skal gjøre det, og når det skal gjøres.</li>
			<li><span class="title">Evaluer.</span> Er problemet løst? Hvis ja; Gratulerer! Hvis nei, start prosessen forfra igjen.</li>
		</ol>
		<h2>Diagram</h2>
  		<a href="#" ng-click="browser('files/problemloesning.png')">
  			<img src="files/problemloesning.png" />
  		</a>
 	</div>
  </ion-content>
</ion-view>
