<ion-view view-title="Utfordre">
  <ion-content>
  	<div class="content">
  		<h1>Å utfordre din bekymring</h1>
  		<p>Når du utfordrer din bekymring er du som en detektiv som kritisk undersøker beviser for og i mot at det du frykter skal skje faktisk kommer til å skje. Du tenker også gjennom hva du eventuelt kunne gjort om det du frykter skal skje faktisk ville skjedd. Om du ønsker å utfordre dine bekymringer kan du bruke en bekymringsutfordringsdagbok som hjelpemiddel. Ofte vil du oppdage at dine bekymringer er overdrevne og har liten rot i virkeligheten.</p>
  		<h2>Dagbok</h2>
  		<a href="#" ng-click="browser('files/dagbok.png')">
  			<img src="files/dagbok.png" />
  		</a>
 	</div>
  </ion-content>
</ion-view>
