<ion-view view-title="Utsettelse">
  <ion-content>
  	<div class="content">
  		<h1>Bekymringsutsettelse</h1>
  		<p>Ved å velge deg en fast avsatt tid hver dag hvor du ser nærmere på dine bekymringer og problemer, så tar du kontroll over når og hvor mye tid du vil bruke på dine bekymringer. Hver gang en bekymring dukker opp i løpet av dagen så noterer du deg bekymringen ved hjelp av et stikkord på en lapp eller på en notis på din mobil eller lignende. Deretter vender du oppmerksomheten tilbake til det du holdt på med, med vissheten om at du vil vende tilbake til den bekymringen senere. På det bestemte klokkeslettet du har avsatt til bekymringer tar du frem dine stikkord fra det siste døgnet. Er det noen av disse bekymringene eller problemene du føler behov for å se nærmere på? Bruk den avsatte bekymringsperioden til dette. Ofte vil du oppleve at du ikke lenger føler behov for å bekymre deg for nettopp de tingene du skrev ned. Da lar du bare være.</p>
 	</div>
  </ion-content>
</ion-view>
